atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/blob-store
atom.symlink/packages
atom.symlink/recovery
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

atom.symlink/projects.cson

config.symlink/fish/fish_history
config.symlink/fish/fishd.*
config.symlink/configstore
config.symlink/yarn
config.symlink/hub
node_modules
.DS_Store
