atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/blob-store
atom.symlink/packages
atom.symlink/recovery
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

atom.symlink/projects.cson

config.symlink/configstore
config.symlink/yarn
config.symlink/hub
config.symlink/gcloud
config.symlink/gatsby
config.symlink/gh/hosts.yml
node_modules
.DS_Store
config.symlink/raycast/config.json
