"*":
  autosave:
    enabled: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "hyperclick"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "spacegray-dark-neue-ui"
      "spacegray-black-syntax"
    ]
  editor:
    fontFamily: "Input"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.7
    preferredLineLength: 100
    scrollSensitivity: 70
    showIndentGuide: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "fa30af58-aca4-36b5-2f45-3cb313ebe1ad"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    preserveLastSearch: true
    useAlternateScoring: true
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-eslint":
    disableEslintIgnore: true
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  minimap:
    absoluteMode: true
  nuclide:
    remoteProjectsConfig: []
  react: {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    usePreviewTabs: true
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          alpha: 1
          blue: 205
          green: 155
          red: 139
        cyan:
          alpha: 1
          blue: 207
          green: 203
          red: 138
        green:
          alpha: 1
          blue: 179
          green: 251
          red: 198
        magenta:
          alpha: 1
          blue: 202
          green: 139
          red: 206
        red:
          alpha: 1
          blue: 165
          green: 151
          red: 254
        yellow:
          alpha: 1
          blue: 171
          green: 249
          red: 249
    core: {}
    style: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
