"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      spawnCount: {}
  "atom-package-deps":
    ignored: []
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "hyperclick"
      "linter-flow"
      "react"
      "emmet"
      "activate-power-mode"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "language-sql"
      "language-toml"
      "language-xml"
      "nuclide"
      "tabs-to-spaces"
      "terminal-plus"
      "archive-view"
      "autocomplete-html"
      "background-tips"
      "bookmarks"
      "language-hyperlink"
      "language-ruby"
      "linter-stylelint"
      "intentions"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "hyper-black-ui"
      "hyper-black-syntax"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "SF Mono, Fantasque Sans Mono"
    invisibles: {}
    lineHeight: 1.7
    scrollSensitivity: 70
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "fa30af58-aca4-36b5-2f45-3cb313ebe1ad"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    preserveLastSearch: true
    useAlternateScoring: true
  "language-babel":
    allowLocalOverride: true
    babelMapsAddUrl: false
    createTargetDirectories: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
    globalNodePath: "/usr/local"
  "linter-flake8":
    maxLineLength: 100
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-stylelint":
    disableWhenNoConfig: false
  "linter-ui-default":
    panelHeight: 81
    showPanel: true
    showTooltip: false
  minimap:
    disablePythonDocLinks: true
  nuclide:
    remoteProjectsConfig: []
  "ocaml-merlin":
    completePartialPrefixes: true
  "prettier-atom":
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  react: {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "status-bar": {}
  tabs:
    showIcons: false
    usePreviewTabs: true
  "terminal-plus":
    ansiColors:
      normal:
        blue: "#8b9bcd"
        cyan: "#8acbcf"
        green: "#c6fbb3"
        magenta: "#ce8bca"
        red: "#fe97a5"
        yellow: "#f9f9ab"
    core: {}
    style: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 100
".source.styledcss":
  editor:
    preferredLineLength: 100
